version: "3.3"
services:
    mongo:
        image: mongo
        networks:
            - mongo
        ports:
            - "27017:27017"
        container_name: dkrcomp-mongo-final-huce
        restart: always
        logging:
            options:
                max-size: 1g
        environment:
            - MONGO_INITDB_ROOT_USERNAME=tienhg2001
            - MONGO_INITDB_ROOT_PASSWORD=tienhg2001
        volumes:
            - mongodb:/data/db
    cache:
        image: redis
        restart: always
        ports:
            - '6379:6379'
        command: redis-server --save 20 1 --loglevel warning --requirepass tienhg2001
        volumes:
            - cache:/data
networks:
    mongo:
        driver: bridge

volumes:
    cache:
        driver: local
    mongodb:
        driver: local
